#!/bin/sh

#--- import colors and init-funcs ---
. /usr/lib/init/colors.sh
. /usr/lib/init/init-funcs.sh
#------------------------------------

case "$1" in
    start)
        printf "$BBLUE**$BYELLOW Starting dnsd\n$RESET"
        /usr/bin/dnsd -d -c /etc/dnsd.conf
        check $? "start dnsd"
        echo $(pgrep dnsd) > /var/run/dnsd.pid
        ;;
    stop)
        printf "$BBLUE**$BYELLOW Stopping dnsd\n$RESET"
        kill $(cat /var/run/dnsd.pid)
        check $? "stop dnsd"
        rm /var/run/dnsd.pid
        ;;
    restart|reload)
        restart
        ;;
    *)
        help
		return 1
esac
return $?
