#!/bin/sh

#--- import colors and init-funcs ---
. /usr/lib/init/colors.sh
. /usr/lib/init/init-funcs.sh
#------------------------------------

start() {
    notify "Starting dnsmasq"
    /usr/bin/dnsmasq --user=dnsmasq --pid-file=/var/run/dnsmasq.pid
    check $? "start dnsmasq"
    return $?
}

stop() {
    notify "Stopping dnsmasq"
    kill $(cat /var/run/dnsmasq.pid)
    check $? "stop dnsmasq"
    rm /var/run/dnsmasq.pid &> /dev/null
    return $?
}

case "$1" in
    start|stop|restart|reload|help)
        "$1"
        ;;
    *)
        help
        ;;    
esac
return $?
