#!/bin/sh

#--- import colors and init-funcs ---
. /usr/lib/init/colors.sh
. /usr/lib/init/init-funcs.sh
#------------------------------------

start() {
    notify "Settin up hostname"
    /usr/bin/hosname -F /etc/hostname
    check $? "Set up hostname"
    return $?
}

stop() {
    return
}

case "$1" in 
    start|stop|restart|reload|help)
        "$1"
        ;;
    *)
        help
        return 1
esac
return $?
