#!/bin/sh

#--- import colors and init-funcs ---
. /usr/lib/init/colors.sh
. /usr/lib/init/init-funcs.sh
#------------------------------------

start() {
    notify "Starting klogd"
    /usr/bin/klogd
    check $? "start klogd"
    return $?
}

stop() {
    notify "Stopping klogd"
    kill $(cat /var/run/klogd.pid)
    check $? "stop klogd"
    rm /var/run/klogd.pid &> /dev/null
    return $?
}

case "$1" in
    start|stop|restart|reload|help)
        "$1"
        ;;
    *)
        help
        ;;
esac
return $?
