#!/bin/sh

#--- import colors and init-funcs ---
. /usr/lib/init/colors.sh
. /usr/lib/init/init-funcs.sh
#------------------------------------

case "$1" in
    start)
        printf "$BBLUE**$BYELLOW Starting networking\n$RESET"
        /usr/bin/ifup -a
        check $? "networking"
        echo $! > /var/run/networking.pid
        ;;
    stop)
        printf "$BBLUE**$BYELLOW Stopping netowrking\n$RESET"
        /usr/bin/ifdown -a
        check $? "Stop networking"
        if [ -f /var/run/neworking.pid ]; then
            rm /var/run/networking.pid
        fi
        ;;
    restart|reload)
        restart
        ;;
    *)
        help
        return 1
esac
return $?
