#!/bin/sh

#--- import colors and init-funcs ---
. /usr/lib/init/colors.sh
. /usr/lib/init/init-funcs.sh
#------------------------------------

case "$1" in
    start)
        printf "$BBLUE**$BYELLOW Starting syslogd\n$RESET"
        /usr/bin/syslogd
        check $? "start syslogd"
        ;;
    stop)
        printf "$BBLUE**$BYELLOW Stopping syslogd\n$RESET"
        kill $(cat /var/run/syslogd.pid)
        check $? "stop syslogd"
        rm /var/run/syslogd.pid &> /dev/null
        ;;
    restart|reload)
        restart
        ;;
    *)
        help
		return 1
        ;;
esac
return $?
