#!/bin/sh

#--- import colors and init-funcs ---
. /usr/lib/init/colors.sh
. /usr/lib/init/init-funcs.sh
#------------------------------------

start() {
    notify "Starting syslogd"
    /usr/bin/syslogd
    check $? "start syslogd"
    return $?
}

stop() {
    notify "Stopping syslogd"
    kill $(cat /var/run/syslogd.pid)
    check $? "stop syslogd"
    rm /var/run/syslogd.pid &> /dev/null
    return $?
}

case "$1" in
    start|stop|restart|reload|help)
        "$1"
        ;;
    *)
        help
		return 1
        ;;
esac
return $?
